# Dependencies
node_modules

# Caches
.cache

# Local git worktrees
.worktrees/

# Build Outputs
dist
dist-ssr

# Logs
logs
*.log

# Environment files
.env
.env.*
!.env.example
*.local

# Editors
.idea
*.suo
*.sw?

# Misc
.DS_Store
